<a href="https://colab.research.google.com/github/antechter0711/AIO-Week-2-Module-1/blob/main/Tabular_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: /content/advertising.csv
100% 4.06k/4.06k [00:00<00:00, 6.56MB/s]

In [3]:
import pandas as pd

# Đọc tệp CSV vào pandas DataFrame
df = pd.read_csv('/content/advertising.csv')

data = df.to_numpy()

data = data[:5]
data

array([[230.1,  37.8,  69.2,  22.1],
       [ 44.5,  39.3,  45.1,  10.4],
       [ 17.2,  45.9,  69.3,  12. ],
       [151.5,  41.3,  58.5,  16.5],
       [180.8,  10.8,  58.4,  17.9]])

In [7]:
import numpy as np
sales_data = data[:, 3]
sales_max = np.max(sales_data)

sales_idx = np.argmax(sales_data)
sales_max, sales_idx

(22.1, 0)

In [6]:
tv_mean = data[:, 0].mean()
tv_mean

124.82000000000001

In [8]:
sale_cond = data[:, 3] >= 15.0
radio_data = data[:, 1]

radio_cond = radio_data * sale_cond
radio_mean = np.sum(radio_cond) / np.sum(sale_cond)

radio_mean

29.966666666666665

In [9]:
newspaper_data = data[:, 2]
newspaper_mean = newspaper_data.mean()

newspaper_cond = newspaper_data > newspaper_mean
sales_data = data[:, 3]

sales_cond = sales_data * newspaper_cond
sales_sum = np.sum(sales_cond)

sales_sum

34.1

In [10]:
sales_data = data[:, 3]
sales_mean = sales_data.mean()
score_sales = np.where(
    sales_data < sales_mean,
    "Bad",
    np.where(sales_data > sales_mean, "Good", "Average")
)
score_sales

array(['Good', 'Bad', 'Bad', 'Good', 'Good'], dtype='<U7')

In [11]:
sale_cond = data[:, 3] >= 15.0
radio_data = data[:, 1]

radio_cond = radio_data * sale_cond
radio_mean = np.sum(radio_cond) / np.sum(sale_cond)

radio_mean

29.966666666666665

In [12]:
sales_data = data[:, 3]
sales_mean = sales_data.mean()
sub_mean = sales_data - sales_mean
sub_abs = abs(sales_data - sales_mean)
average_idx = np.argmin(sub_abs)
sales_average = sales_data[average_idx]
score_sales = np.where(
    sales_data < sales_mean,
    "Bad",
    np.where(sales_data > sales_average, "Good", "Average")
)
score_sales

array(['Good', 'Bad', 'Bad', 'Average', 'Good'], dtype='<U7')